.shopcategory-banner {
    display: block;
    margin: 30px auto;
    width: 85%;
}

.shopCategory-indexSort {
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.shopCategory-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopCategory-indexSort p span {
    font-weight: 600;
}

.shopCategory-products{
    margin: 20px 100px;
    display: grid;
    /* grid-template-columns:  1fr 1fr 1fr 1fr;
    row-gap: 80px; */
    grid-template-columns:  1fr 1fr 1fr;
    gap: 15px;
}

.shopCategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 70px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.adjustProduct{
    width: 50%;
}